<html>
<head>
    <title>Phishing Detection</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>
    <div class="main">
        <h1>Phishing Detection</h1>
        <form method="POST">
          <textarea name="text" rows="10" cols="100"></textarea>
          <br>
          <button type="button" onclick="sendData()">Submit</button>
        </form>

        <div class="result">
            
        </div>
        <div class="footer">
        <h3>Developers Contact</h3>
        <ul style="align-items: center;">
            <li>1. Joy Almeida</li>
            <li>2. Aman Parikh</li>
            <li>3. Rohan Sodha</li>
            <li>4. Raynil Dsouza</li>
            <li>5. Limark Dcunha</li>
        </ul>
        </div>
    </div>

    <script>
        function sendData() {
            const formData = new FormData(document.querySelector('form'));
            const text = formData.get('text');
            const resultElement = document.querySelector('.result');
            resultElement.innerHTML = 'loading...';
            fetch('/predict', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ text })
            })
              .then(response => response.json())
              .then(data => {
                // Update the HTML content with the result received from the backend
                console.log("data: ",data)
                
                resultElement.innerHTML = '';
                let res = '';
                if (data.result === 'LEGITIMATE') {
                  res = '<p>Content is safe</p>';
                } else {
                  res = '<div><p>Content has phishing URLs</p></div>';
                }
                res += '<div id="res-urls"><ol>'
                  for(let i=0; i<data.urls.length; i++){
                      res += '<li> <b>'+data.urls[i].message+"</b> -> <i>"+data.urls[i].url+'</i></li>';
                  }
                res += '</ol></div>'
                resultElement.innerHTML = res;
              })
              .catch(error => {
                console.error(error)
                resultElement.innerHTML = 'somthing went wrong.. please try again later';
            });
          }
    </script>
</body>
</html>